<%= simple_form_for(recipe, html: { class: 'form-horizontal' }) do |f| %>
<% if f.object.errors.any? %>
  <p>Você deve informar todos os dados da receita</p>
<% end %>
<%= f.input :title %>
<%= f.input :recipe_type_id, collection: @recipe_types %>
<%= f.input :cuisine_id, collection: @cuisines %>
<%= f.input :difficulty %>
<%= f.input :cook_time %>
<%= f.input :ingredients %>
<%= f.input :cook_method %>
<%= f.input :photo, as: :file %>
<%= f.submit t('simple_form.buttons.submit'), class: 'btn btn-primary' %>
<% end %>