<div class="header-top">
  <div class="row">
    <div class="col-md-4 col-sm-4 mt-auto">
      <div class="header-contact mt-auto">
        <span>
          <%= fa_icon 'phone', class: 'icon' %>
          (00) 0000-0000
        </span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mt-auto">
      <div class="header-search">
        <%= form_tag(recipes_path, method: :get, class: 'form') do %>
          <div class="input-group">
            <%= text_field_tag :title, nil, placeholder: 'Pesquisar receita...', class: 'form-control', id: 'search_recipes' %>
            <span class="input-group-btn">
              <%= button_tag type: 'submit', class: 'btn btn-default' do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mt-auto">
      <div class="btn-login-md">
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to t("devise.registrations.sign_up"),
            new_user_registration_path, class: 'btn btn-success' %>
          <%= link_to t("devise.sessions.sign_in"),
            new_user_session_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
