<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= link_to t('simple_form.buttons.register_recipe'), new_recipe_path %>
<%= link_to t('simple_form.buttons.register_cuisine'), new_cuisine_path %>
<%= link_to t('simple_form.buttons.register_recipe_type'), new_recipe_type_path %>

<%= render @cuisines %>
<%= render @recipe_types %>

<% @recipes.each do |recipe| %>
  <%= render partial: "recipes/recipe_link", locals: {recipe: recipe} %>
<% end %>
